:root{
    --primary:#245953;
    --secundary: #408E91;
    --info:#E49393;
    --contrast:#D8D8D8;
}

body{
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color:var(--primary);
}

div{
    padding: 10px 0px 10px 0px;
    background-color: var(--secundary);
    color: var(--contrast);
}

/* Static es el posicionamiento default de elementos HTML */
/* No se ve afectado por top, bottom, left, right */
.static {
    position: static;
    top: 200px;

}
/* Relative se modifica a partir de su posici */
.relative{
    position: relative;
    left: 50px;
    border: 5px solid var(--info);
}




